*{
    box-sizing: border-box;
}

body,html{
    height:100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color:rgb(38, 44, 44);
}

body{
    display: flex;
    justify-content: center;
}

.sticker-back{
    width: 275px;
    margin: auto;
    background-color:rgb(204, 210, 212);
}

.sticker-main{
    background-color: rgb(34, 205, 248);
    margin: 2px;
    height:180px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    text-align: center;
}

h1 , input, p{
    margin:0;
}

.hello, .mni{
    color: white;
}

.hello{
    grid-row: 1 / 3;
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
}

.mni{
    grid-row: 3 / 5;
    padding-top: 10px;
    font-size: 1.5rem
}

.name{
    grid-row: 5 / 9;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0; */
}